absl-py==2.1.0
protobuf==5.29.4
idna==3.10
Markdown==3.7
gymnasium==1.1.1
pillow==11.1.0
importlib_metadata==8.6.1
grpcio==1.71.0
zipp==3.21.0
setuptools==75.8.0
requests==2.32.3
pydantic==2.10.6
torchaudio==2.6.0
Farama-Notifications==0.0.4
GitPython==3.1.44
urllib3==2.3.0
click==8.1.8
numpy==2.0.2
tensorboard==2.19.0
Werkzeug==3.1.3
pip==25.0
gitdb==4.0.12
psutil==7.0.0
mpmath==1.3.0
charset-normalizer==3.4.1
packaging==24.2
torch==2.6.0
wandb==0.19.8
sentry-sdk==2.23.1
certifi==2025.1.31
setproctitle==1.3.5
platformdirs==4.3.7
pydantic_core==2.27.2
Jinja2==3.1.6
wheel==0.45.1
filelock==3.18.0
torchvision==0.21.0
pygame==2.6.1
cloudpickle==3.1.1
fsspec==2025.3.0
docker-pycreds==0.4.0
networkx==3.2.1
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
smmap==5.0.2
tensorboard-data-server==0.7.2
annotated-types==0.7.0
eval_type_backport==0.2.2
six==1.17.0
MarkupSafe==3.0.2
